@charset "UTF-8";
/* --------- global styles --------- */
body {
  background-color: #f4f4f4;
  font-family: "OpenSansRegular";
  font-size: 14px;
  color: #333;
}

body, html {
  width: 100%;
  height: 100%;
}

body, ul, ol, li, h1 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #333;
}

p {
  font-weight: normal;
  line-height: 20px;
}

.wrapper {
  min-width: 1200px;
  min-height: 100%;
  margin-bottom: 220px;
  box-sizing: border-box;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.page-title {
  font-family: "OpenSansBold";
  font-size: 20px;
}

.information p {
  font-family: "OpenSansRegular";
  font-size: 14px;
  color: #333;
}

.first {
  float: left;
  padding-right: 20px;
  box-sizing: border-box;
}

.last {
  float: right;
  padding-left: 20px;
  box-sizing: border-box;
}

/* --------- sections --------- */
/* --------- header --------- */
/* --------- top-header --------- */
.header-top {
  height: 78px;
  background: #fff;
  margin-bottom: 28px;
  border-bottom: 2px solid #ebedef;
}

.top-socials {
  float: left;
  padding-top: 25px;
}

.top-socials__item {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 12px;
}
.top-socials__item:first-child {
  margin-left: 0;
}

.top-socials__link {
  display: block;
  width: 26px;
  height: 26px;
}

.top-socials__link_fb {
  background: url('../img/top-socials-sa03479e323.png') 0 -96px no-repeat;
  height: 26px;
  width: 26px;
}
.top-socials__link_fb:hover {
  background: url('../img/top-socials-sa03479e323.png') 0 0 no-repeat;
  height: 26px;
  width: 26px;
}

.top-socials__link_vk {
  background: url('../img/top-socials-sa03479e323.png') 0 -480px no-repeat;
  height: 26px;
  width: 26px;
}
.top-socials__link_vk:hover {
  background: url('../img/top-socials-sa03479e323.png') 0 -384px no-repeat;
  height: 26px;
  width: 26px;
}

.top-socials__link_tw {
  background: url('../img/top-socials-sa03479e323.png') 0 -288px no-repeat;
  height: 26px;
  width: 26px;
}
.top-socials__link_tw:hover {
  background: url('../img/top-socials-sa03479e323.png') 0 -192px no-repeat;
  height: 26px;
  width: 26px;
}

.contacts {
  float: right;
  padding-top: 26px;
}

.contacts__item {
  display: inline-block;
  margin-left: 80px;
}
.contacts__item:first-child {
  margin-left: 0;
}

.contacts__item_adress, .contacts__item_phone {
  padding-left: 25px;
  line-height: 20px;
}

.contacts__item_phone {
  font-family: "OpenSansSemiBold";
  font-size: 18px;
}

.contacts__item_adress, .contacts__item_phone {
  background: url("../img/contacts/adress.png") 0 0 no-repeat;
}

.contacts__item_phone {
  background: url("../img/contacts/phone.png") 0 0 no-repeat;
}

/* --------- bottom-header --------- */
.header-bottom {
  margin-bottom: 27px;
}

.logo {
  float: left;
}

.search {
  float: left;
  margin-left: 56px;
}

.search__text {
  width: 255px;
  border: 1px solid #dee1e4;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  font-family: "OpenSansLight";
  color: #7f7f7f;
  padding: 7px 16px;
  outline: none;
}

.search__button {
  font-family: "OpenSansSemiBold";
  font-size: 16px;
  color: #fff;
  background: #ff6600;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 6px 15px 7px 15px;
  margin-left: -5px;
  outline: none;
}

.top-menu {
  float: right;
}

.top-menu__item {
  display: inline-block;
  margin-left: 30px;
  line-height: 36px;
}
.top-menu__item:first-child {
  margin-left: 0;
}

.top-menu__link {
  font-family: "OpenSansSemiBold";
  font-size: 16px;
}
.top-menu__link:hover {
  color: #ff6600;
}

.main-menu__container {
  background-color: #fff;
  height: 52px;
  border-bottom: 2px solid #ebedef;
  margin-bottom: 26px;
}

.main-menu {
  padding-left: 10px;
}

.main-menu__list {
  font-size: 0;
}

.main-menu__item {
  display: inline-block;
}

.main-menu__link {
  display: block;
  padding: 15px 15px 15px 14px;
  font-size: 16px;
  text-decoration: none;
}
.main-menu__link:hover {
  background: #e4e2e2;
}
.main-menu__link_active {
  font-family: "OpenSansSemiBold";
  color: #fff;
  background: #ff6600;
}
.main-menu__link_active:hover {
  font-family: "OpenSansSemiBold";
  color: #fff;
  background: #ff6600;
}

.page-path {
  margin-bottom: 30px;
}

.page-links {
  margin-bottom: 20px;
}

.page-links__item {
  display: inline;
}

.page-links__link {
  color: #ff6600;
}
.page-links__link:hover {
  color: #ccc;
}

/* --------- sidebar --------- */
.sidebar {
  float: left;
  width: 333px;
}

.topbar, .accordion {
  background: #fbfbfb;
  border-radius: 5px;
  border: 1px solid #dee1e4;
  margin-bottom: 39px;
}

.topbar__item {
  border-bottom: 1px solid #dee1e4;
}
.topbar__item:last-child {
  border-bottom: none;
}

.topbar__link {
  display: block;
  text-decoration: none;
  padding: 12px 29px;
  color: #7f7f7f;
}
.topbar__link:hover {
  background: #dde7ec;
}

/* --------- sidebar-filter--------- */
.accordion__item {
  position: relative;
  border-bottom: 1px solid #dee1e4;
}
.accordion__item:last-child {
  border-bottom: none;
}

.accordion__item-container {
  padding-top: 5px;
}

.accordion__link {
  display: block;
  font-family: "OpenSansSemiBold";
  font-size: 16px;
  text-decoration: none;
  padding: 12px 20px 12px 29px;
}
.accordion__link:hover {
  background: #dde7ec;
}

.accordion__arrow {
  position: absolute;
  top: 20px;
  right: 10px;
  display: block;
  width: 18px;
  height: 11px;
}
.accordion__arrow_up {
  background: url('../img/other-icons-s5dbfd35f71.png') 0 -81px no-repeat;
  height: 11px;
  width: 18px;
}
.accordion__arrow_down {
  background: url('../img/other-icons-s5dbfd35f71.png') 0 0 no-repeat;
  height: 11px;
  width: 18px;
}

.accordion__inner-item {
  padding: 0 20px 0 29px;
  position: relative;
  margin-bottom: 17px;
}

.accordion__reset {
  display: block;
  width: 120px;
  padding: 0 20px 0 29px;
  color: #5db2fc;
  margin-bottom: 18px;
}
.accordion__reset:hover {
  color: #ccc;
}

.radio, .checkbox {
  position: absolute;
  top: 2px;
  left: 32px;
  z-index: 99;
  opacity: 0;
  cursor: pointer;
}

.check-text {
  padding-left: 30px;
}

.fake-radio {
  background: url('../img/radio-s7cd6f9091f.png') 0 -89px no-repeat;
  height: 19px;
  width: 19px;
  display: block;
  position: absolute;
}

.radio:checked + .fake-radio, .checkbox:checked + .fake-radio {
  background: url('../img/radio-s7cd6f9091f.png') 0 0 no-repeat;
  height: 19px;
  width: 19px;
}

.fake-checkbox {
  background: url('../img/checkbox-s9d35659d10.png') 0 -89px no-repeat;
  height: 19px;
  width: 19px;
  display: block;
  position: absolute;
}

.checkbox:checked + .fake-checkbox {
  background: url('../img/checkbox-s9d35659d10.png') 0 0 no-repeat;
  height: 19px;
  width: 19px;
}

/* --------- sidebar-price--------- */
.price {
  padding: 0 29px;
  margin-bottom: 30px;
}

.price-val__start {
  float: left;
}

.price-val__over {
  float: right;
  margin-bottom: 20px;
}

.price-val__text {
  padding-right: 10px;
}

.price-val__input-start, .price-val__input-over {
  width: 60px;
  border: 1px solid #dee1e4;
  border-radius: 5px;
  color: #7f7f7f;
  padding: 3px 10px;
  outline: none;
}

.price-slider {
  height: 3px;
  position: relative;
  border: 0;
}

.ui-widget-header {
  background: #ff6600;
}

.ui-corner-all {
  border-radius: 0;
  outline: none;
}

.ui-widget-content {
  background: #dee1e4;
}

.ui-widget-content .ui-state-default {
  background: url('../img/other-icons-s5dbfd35f71.png') 0 -162px no-repeat;
  height: 14px;
  width: 8px;
  border: 0;
}

.ui-slider-horizontal .ui-slider-handle {
  top: 1px;
  margin-left: -4px;
}

/* --------- sidebar-colors--------- */
.colors__list {
  padding: 0 29px;
  margin-left: -22px;
  margin-top: -22px;
  margin-bottom: 17px;
}

.colors__item {
  display: inline-block;
  margin-left: 20px;
  margin-top: 18px;
}

.colors__link {
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid #dee1e4;
}
.colors__link:hover {
  box-shadow: 0 0 3px #ff6600;
}

.content {
  float: right;
  width: 743px;
}

.filter {
  background: #dde7ec;
  border-radius: 5px;
  border: 1px solid #dee1e4;
  margin-bottom: 20px;
}

.filter-select {
  float: left;
  padding-top: 10px;
  padding-left: 22px;
}

.filter-select__title {
  margin-right: 5px;
}

.filter-select__val {
  width: 143px;
  height: 30px;
  border-radius: 5px;
}

/* ------ ╤Б╤В╨╕╨╗╨╕╨╖╨░╤Ж╨╕╤П ╤Б╨╡╨╗╨╡╨║╤В╨░  select2------- */
.select2-container {
  border: 0;
  outline: none;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #dee1e4;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.select2-container .select2-choice {
  border: 1px solid #dee1e4;
  font-family: "OpenSansRegular";
  font-size: 14px;
  color: #7f7f7f;
  background: #fff;
  box-shadow: none;
}

.select2-dropdown-open .select2-choice {
  border-radius: 5px;
  background: #fff;
}

.select2-container .select2-choice .select2-arrow {
  background: none;
  border-left: 0;
}

.select2-container .select2-choice .select2-arrow b {
  background: url('../img/other-icons-s5dbfd35f71.png') 0 -597px no-repeat;
  height: 9px;
  width: 13px;
  position: absolute;
  top: 8px;
  right: 7px;
}

.select2-dropdown-open .select2-choice .select2-arrow b {
  background: url('../img/other-icons-s5dbfd35f71.png') 0 -676px no-repeat;
  height: 9px;
  width: 13px;
  position: absolute;
  top: 8px;
  right: 7px;
}

.select2-drop-active {
  color: #7f7f7f;
  border: 1px solid #dee1e4;
  margin-top: 2px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.select2-results {
  margin: 0;
  padding: 0;
}

.select2-results .select2-highlighted {
  background: #fbfbfb;
  color: #333;
}

/* ------ ╨┐╨╡╤А╨╡╨║╨╗╤О╤З╨░╤В╨╡╨╗╤М ╨▓╨╕╨┤╨░ ╤В╨╛╨▓╨░╤А╨╛╨▓ ------- */
.view-select {
  float: right;
}

.view-select__title {
  vertical-align: top;
  display: inline-block;
  line-height: 14px;
  padding: 16px 15px 0 0;
}

.view-select__list {
  font-size: 0;
  vertical-align: top;
  display: inline-block;
}

.view-select__item {
  display: inline-block;
  border-left: 1px solid #dee1e4;
  padding: 17px;
}
.view-select__item:first-child {
  margin-left: 0;
}

.view-select__link_view-lg {
  background: url('../img/view-s380026994e.png') 0 -86px no-repeat;
  height: 16px;
  width: 16px;
  display: block;
  width: 16px;
  height: 16px;
}
.view-select__link_view-lg:hover {
  background: url('../img/view-s380026994e.png') 0 0 no-repeat;
  height: 16px;
  width: 16px;
}

.view-select__link_view-md {
  background: url('../img/view-s380026994e.png') 0 -258px no-repeat;
  height: 16px;
  width: 16px;
  display: block;
  width: 16px;
  height: 16px;
}
.view-select__link_view-md:hover {
  background: url('../img/view-s380026994e.png') 0 -172px no-repeat;
  height: 16px;
  width: 16px;
}

.view-select__link_view-sm {
  background: url('../img/view-s380026994e.png') 0 -430px no-repeat;
  height: 16px;
  width: 16px;
  display: block;
  width: 16px;
  height: 16px;
}
.view-select__link_view-sm:hover {
  background: url('../img/view-s380026994e.png') 0 -344px no-repeat;
  height: 16px;
  width: 16px;
}

.products {
  margin-bottom: 65px;
}

.products__list {
  font-size: 0;
}

.products__item {
  width: 743px;
  box-sizing: border-box;
  background: #fbfbfb;
  border: 1px solid #dee1e4;
  border-bottom: 0;
  display: inline-block;
}
.products__item:hover {
  position: relative;
  box-shadow: 0 0 10px #ccc;
}
.products__item:first-child {
  border-radius: 5px 5px 0 0;
}
.products__item:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #dee1e4;
}

.products__item-container {
  padding: 16px 22px;
  position: relative;
}

.products__left {
  float: left;
}

.products__images {
  width: 138px;
  float: left;
}

.products__images-container {
  margin-bottom: 9px;
}

.products__images-lg {
  width: 134px;
  height: 134px;
  border: 1px solid #dee1e4;
  display: block;
  position: relative;
  border-radius: 3px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 15px;
}

.products__images-item {
  margin-left: 16px;
  display: inline-block;
}
.products__images-item:first-child {
  margin-left: 0;
}

.products__images-sm {
  width: 32px;
  height: 32px;
  border: 1px solid #dee1e4;
  display: block;
  position: relative;
  border-radius: 3px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.products__images-sm:hover {
  border-color: #ff6600;
}

.products__images-small {
  max-width: 100%;
  max-height: 100%;
}

.products__article {
  text-align: center;
}

.products__article-name {
  display: inline-block;
  font-size: 12px;
  color: #7f7f7f;
  font-family: "OpenSansBold";
}

.products__article-val {
  display: inline-block;
  font-family: "OpenSansSemiBold";
  font-size: 14px;
}

/* ------- products info-------- */
.products__info {
  width: 380px;
  margin-left: 22px;
  float: left;
  padding-top: 6px;
}

.products__info-title {
  font-family: "OpenSansSemiBold";
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
}

.products__info-list {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}

.products__info-item {
  display: inline-block;
}

.products__info-key {
  display: inline;
}

.products__info-val {
  display: inline;
}

.products__rating-list {
  display: inline-block;
  vertical-align: top;
}

.products__rating-item {
  background: url('../img/other-icons-s5dbfd35f71.png') 0 -839px no-repeat;
  height: 14px;
  width: 16px;
  display: inline-block;
  vertical-align: top;
  margin-left: 4px;
}
.products__rating-item:first-child {
  margin-left: 0;
}
.products__rating-item.products__rating-item-full {
  background: url('../img/other-icons-s5dbfd35f71.png') 0 -755px no-repeat;
  height: 14px;
  width: 16px;
}

.products__rating-val {
  display: inline-block;
  vertical-align: top;
  width: 27px;
  color: #fbfbfb;
  background: #ccc;
  font-size: 12px;
  line-height: 15px;
  border-radius: 10px;
  text-align: center;
  font-family: "OpenSansSemiBold";
  margin-left: 13px;
}

/* ------- products price-------- */
.products__right {
  position: absolute;
  top: 22px;
  right: 19px;
  bottom: 22px;
  width: 130px;
  margin-right: 5px;
}

.products__right-container {
  border-left: 1px solid #dee1e4;
  height: 100%;
  text-align: right;
}

.products__price {
  display: inline-block;
  vertical-align: top;
  font-family: "OpenSansSemiBold";
  font-size: 20px;
  line-height: 22px;
  position: relative;
}
.products__price:after {
  content: " ";
  background: url('../img/other-icons-s5dbfd35f71.png') 0 -513px no-repeat;
  height: 14px;
  width: 11px;
  display: inline-block;
  margin-left: 5px;
}

.products__buy {
  position: absolute;
  bottom: 0;
  right: 0;
}

.products__buy-button {
  font-family: "OpenSansBold";
  color: #fff;
  padding: 7px 14px;
  border: 0;
  border-radius: 5px;
  background: #ff6600;
  font-size: 14px;
}
.products__buy-button:hover {
  background: #ff9933;
}

.products__buy-available {
  font-family: "OpenSansBold";
  font-size: 12px;
  color: #7f7f7f;
  padding-left: 14px;
  margin-top: 10px;
}
.products__buy-available:before {
  content: " ";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #60ac49;
  margin-right: 8px;
}

/* --------- view 2 -------- */
.products__list_grid {
  border: none;
  overflow: auto;
  border-radius: 0;
  margin-left: -18px;
  background: none;
}
.products__list_grid .products__item {
  background: #fbfbfb;
  display: inline-block;
  width: 235px;
  border-bottom: 0;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #dee1e4;
  margin: 0 0 18px 18px;
}
.products__list_grid .products__item-container {
  padding: 16px 12px;
}
.products__list_grid .products__images {
  float: none;
  width: auto;
  text-align: center;
}
.products__list_grid .products__images-lg {
  display: inline-block;
}
.products__list_grid .products__article {
  display: none;
}
.products__list_grid .products__info {
  width: auto;
  margin-left: 0;
}
.products__list_grid .products__info-title {
  font-size: 14px;
  padding: 0 10px;
  margin-bottom: 0;
}
.products__list_grid .products__info-list {
  margin-bottom: 8px;
}
.products__list_grid .products__info-item {
  display: block;
}
.products__list_grid .products__info-item_grey {
  background: #eee;
}
.products__list_grid .products__info-key {
  display: block;
  float: left;
  text-align: left;
}
.products__list_grid .products__info-val {
  display: block;
  float: right;
  text-align: right;
}
.products__list_grid .products__rating-list {
  margin-bottom: 10px;
}
.products__list_grid .products__right {
  float: none;
  position: static;
  width: auto;
  margin-right: 0;
}
.products__list_grid .products__right-container {
  border-left: 0;
  height: auto;
  text-align: center;
}
.products__list_grid .products__price {
  display: inline-block;
  margin-bottom: 5px;
}
.products__list_grid .products__buy {
  position: static;
  margin-bottom: 2px;
}
.products__list_grid .products__buy-available {
  margin-top: 0;
  float: left;
  padding-top: 8px;
  padding-left: 10px;
}
.products__list_grid .products__buy-button {
  float: right;
}

/* --------- view 3 -------- */
.products__list_line .products__item-container {
  padding: 10px 14px 7px 12px;
  position: relative;
}
.products__list_line .products__images {
  width: auto;
  float: left;
}
.products__list_line .products__images-container {
  display: none;
}
.products__list_line .products__article {
  padding-top: 6px;
  text-align: left;
}
.products__list_line .products__info {
  width: 230px;
  margin-left: 10px;
  float: left;
  padding-top: 7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.products__list_line .products__info-title {
  line-height: 16px;
  margin-bottom: 0;
}
.products__list_line .products__info-list {
  display: none;
}
.products__list_line .products__rating {
  display: none;
}
.products__list_line .products__right {
  float: right;
  position: static;
  width: 300px;
  margin-right: 0;
}
.products__list_line .products__right-container {
  border-left: 0;
  height: auto;
  text-align: center;
}
.products__list_line .products__price {
  float: left;
  display: block;
  padding-top: 3px;
}
.products__list_line .products__buy {
  width: 220px;
  position: static;
  float: right;
}
.products__list_line .products__buy-available {
  margin-top: 0;
  float: left;
  padding-top: 8px;
  margin-right: 22px;
}
.products__list_line .products__buy-button {
  float: right;
}

.pagination {
  float: right;
}

.pagination__item {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 25px;
  border: 1px solid #dee1e4;
  border-radius: 5px;
  font-family: "OpenSansBold";
  overflow: hidden;
  text-align: center;
  line-height: 25px;
}
.pagination__item:first-child {
  background: #fbfbfb;
}
.pagination__item:last-child {
  background: #fbfbfb;
}

.pagination__link {
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fbfbfb;
  font-size: 12px;
  color: #7f7f7f;
}
.pagination__link:hover {
  background: #eee;
}

.pagination__link_prev {
  background: url('../img/other-icons-s5dbfd35f71.png') 0 -418px no-repeat;
  height: 25px;
  width: 26px;
}

.pagination__link_next {
  background: url('../img/other-icons-s5dbfd35f71.png') 0 -323px no-repeat;
  height: 25px;
  width: 26px;
}

/* --------- footer --------- */
.footer {
  position: relative;
  background: url("/img/footer-bg.jpg");
  min-width: 1200px;
  height: 220px;
  clear: both;
  margin-top: -220px;
}

.footer-logo {
  float: left;
  padding-top: 70px;
}

.footer-socials {
  float: right;
  padding-top: 35px;
}

.footer-socials__item {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 25px;
}
.footer-socials__item:first-child {
  margin-left: 0;
}

.footer-socials__link {
  display: block;
  width: 43px;
  height: 43px;
}

.footer-socials__link_fb {
  background: url('../img/footer-socials-sc02d787d98.png') 0 -113px no-repeat;
  height: 43px;
  width: 43px;
}
.footer-socials__link_fb:hover {
  background: url('../img/footer-socials-sc02d787d98.png') 0 0 no-repeat;
  height: 43px;
  width: 43px;
}

.footer-socials__link_vk {
  background: url('../img/footer-socials-sc02d787d98.png') 0 -565px no-repeat;
  height: 43px;
  width: 43px;
}
.footer-socials__link_vk:hover {
  background: url('../img/footer-socials-sc02d787d98.png') 0 -452px no-repeat;
  height: 43px;
  width: 43px;
}

.footer-socials__link_tw {
  background: url('../img/footer-socials-sc02d787d98.png') 0 -339px no-repeat;
  height: 43px;
  width: 43px;
}
.footer-socials__link_tw:hover {
  background: url('../img/footer-socials-sc02d787d98.png') 0 -226px no-repeat;
  height: 43px;
  width: 43px;
}

.copyright {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 12px;
  color: #fff;
  text-align: center;
  border-top: 1px solid #494949;
  padding: 5px 0;
}

/* --------- footer-menu --------- */
.footer-links {
  float: right;
  width: 565px;
  text-align: right;
}

.footer-menu__item {
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 15px;
}

.footer-menu__link {
  display: block;
  color: #fff;
}
.footer-menu__link:hover {
  color: #ccc;
}

/* --------- fonts --------- */
/* font-family: "OpenSansRegular"; */
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansItalic"; */
@font-face {
  font-family: "OpenSansItalic";
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"), url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
  font-family: "OpenSansExtraBold";
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
  font-family: "OpenSansExtraBoldItalic";
  src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
  src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"), url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansBoldItalic"; */
@font-face {
  font-family: "OpenSansBoldItalic";
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansRegularItalic"; */
@font-face {
  font-family: "OpenSansRegularItalic";
  src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
  src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
  font-family: "OpenSansSemiBoldItalic";
  src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
  src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
