.filter.clearfix
    .filter-select
        span.filter-select__title Сортировать по
        select.filter-select__val
            option(value="по цене") по цене
            option(value="по рейтингу") по рейтингу

    .view-select
        .view-select__title Вид каталога
        ul.view-select__list
                li.view-select__item
                    a.view-select__link_view-lg(href="#")
                li.view-select__item
                    a.view-select__link_view-md(href="#")
                li.view-select__item
                    a.view-select__link_view-sm(href="#")