nav.main-menu
	.container
		ul.main-menu__list
			li.main-menu__item
				a(href="#") Планшеты
			li.main-menu__item
				a(href="#") Мобильные телефоны
			li.main-menu__item
				a(href="#") Мр3 плееры
			li.main-menu__item
				a(href="#") Персональные компьютеры
			li.main-menu__item
				a(href="#") Ноутбуки
			li.main-menu__item
				a(href="#") Аксессуары
			li.main-menu__item
				a(href="#") Бытовая техника