mixin nav(className, items, active)
	nav(class= className)
		ul(class= className + "__list")
			each item, inActive in items
				li(class= className + "__item" + ((active == inActive) ? className + '__item' + 'active' : ''))
					a(href="#" class= className + "__link")= item