.pagination {
	float: right;
}

.pagination__list {
}

.pagination__item {
	display: inline-block;
	position: relative;
	width: 24px;
	height: 25px;
	border: $greyB;
	border-radius: 5px;
	font-family: $bold;
	overflow: hidden;
	text-align: center;
	line-height: 25px;

	&:first-child {
		background: #fbfbfb;;
	}

	&:last-child {
		background: #fbfbfb;
	}
}

.pagination__link {
	text-decoration: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fbfbfb;
	font-size: 12px;
	color: $lightGrey;

	&:hover {
		background: #eee;
	}
}

.pagination__link_prev {
	@include get-sprite($map, pag-arrow-prev);
}

.pagination__link_next {
	@include get-sprite($map, pag-arrow-next);
}
