/* --------- sidebar --------- */
.sidebar {
	float: left;
	width: 333px;
}

.topbar {
	background: $bgGrey;
	border-radius: 5px;
	border: $greyB;
	margin-bottom: 39px;
}

.topbar__item {
	border-bottom: $greyB;

	&:last-child {
		border-bottom: none;
	}
}

.topbar__link {
	display: block;
	text-decoration: none;
	padding: 12px 29px;
	color: $lightGrey;

	&:hover {
		background: $lightBlue;
	}
}

/* --------- sidebar-filter--------- */
.accordion {
	@extend .topbar;
}

.accordion__item {
	position: relative;
	border-bottom: $greyB;

	&:last-child {
		border-bottom: none;
	}
}


.accordion__item-container {
	padding-top: 5px;
}


.accordion__link {
	display: block;
	font-family: $sami;
	font-size: 16px;
	text-decoration: none;
	padding: 12px 20px 12px 29px;

	&:hover {
		background: $lightBlue;
	}
}

.accordion__arrow {
	position: absolute;
	top: 20px;
	right: 10px;
	display: block;
	width: 18px;
	height: 11px;

	&_up {
		@include get-sprite($map, acc-arrow-up);
	}

	&_down {
		@include get-sprite($map, acc-arrow-down);
	}
}

.accordion__inner-item {
	padding: $accPad;
	position: relative;
	margin-bottom: 17px;
}

.accordion__reset {
	display: block;
	width: 120px;
	padding: $accPad;
	color: #5db2fc;
	margin-bottom: 18px;

	&:hover {
		color: #ccc;
	}
}

.radio {
	position: absolute;
	top: 2px;
	left: 32px;
	z-index: 99;
	opacity: 0;
	cursor: pointer;
}

.check-text {
	padding-left: 30px;
}

$radios: radio;
$radio-map: sprite-map('radio/*.png', $spacing: 70px);
@each $radio in $radios {
	.fake-radio {
		@include get-sprite($radio-map, $radio);
		display: block;
		position: absolute;
	}

	.radio:checked + .fake-radio {
		$radio-check: $radio + '-check';
		@include get-sprite($radio-map, $radio-check);
	}
}

.checkbox {
	@extend .radio;
}

$checkboxes: checkbox;
$checkboxes-map: sprite-map('checkbox/*.png', $spacing: 70px);
@each $checkbox in $checkboxes {
	.fake-checkbox {
		@include get-sprite($checkboxes-map, $checkbox);
		display: block;
		position: absolute;
	}

	.checkbox:checked + .fake-checkbox {
		$checkbox-check: $checkbox + '-check';
		@include get-sprite($checkboxes-map, $checkbox-check);
	}
}


/* --------- sidebar-price--------- */
.price {
	padding: 0 29px;
	margin-bottom: 30px;
}

.price-val__start {
	float: left;
}

.price-val__over {
	float: right;
	margin-bottom: 20px;
}

.price-val__text {
	padding-right: 10px;
}

.price-val__input-start {
	width: 60px;
	border: $greyB;
	border-radius: 5px;
	color: $lightGrey;
	padding: 3px 10px;
	outline: none;
}

.price-val__input-over {
	@extend .price-val__input-start
}

.price-slider {
    height: 3px;
    position: relative;
    border: 0;
}

.ui-widget-header {
	background: $orange;
}

.ui-corner-all {
	border-radius: 0;
	outline: none;
}


.ui-widget-content {
    background: #dee1e4;
}

.ui-widget-content .ui-state-default {
	@include get-sprite($map, arrow);
	border: 0;
}

.ui-slider-horizontal .ui-slider-handle {
	top: 1px;
	margin-left: -4px;
}




/* --------- sidebar-colors--------- */

.colors__list {
	padding: 0 29px;
	margin-left: -22px;
	margin-top: -22px;
	margin-bottom: 17px;
}

.colors__item {
	display: inline-block;
	margin-left: 20px;
	margin-top: 18px;
}

.colors__link {
	display: block;
	width: 35px;
	height: 35px;
	border: $greyB;

	&:hover {
		box-shadow: 0 0 3px $orange;
	}
}
