include _common/_mixins
doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
html(lang="ru-RU")
	head
		include _common/_head
		title
			block title
	body
		.wrapper.clearfix
			// header
			include _common/_header
			// main-menu
			include _common/_main-menu
			// site-path
			.container
				.page-path
					.page-links
						block page-links
					block page-title
			.main-content
				.container.clearfix
					// sidebar
					include _common/_sidebar
					// content
					.content
						include _common/_filter
						block products
						include _common/_pagination
				.container.clearfix
					// bottom-content
					include _common/_bottom-content
		//footer
		include _common/_footer

		script(src="bower/jquery/dist/jquery.js")
		script(src="js/jquery.columnizer.js")
		script(src="js/main.js")