include _common/_mixins
doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		link(rel="stylesheet" type='text/css' href="/css/main.css")
		title block 
	body
		.wrapper
			// header
			include _common/_header
				+nav('top-menu', ['Карта проезда', 'История заказов', 'Корзина'])
			// main-menu
			include _common/_main-menu
			// site-path
			include _common/_site-path
			.main-content
				.top-content
					// side-bar
					include _common/_sidebar
					// content
					include _common/_content
				// bottom-content
				include _common/_bottom-content
			//footer
			include _common/_footer

		script('/js/main.js')