include _common/_mixins
doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		link(rel="stylesheet" type='text/css' href="/bower/modernizr/modernizr.js")
		link(rel="stylesheet" type='text/css' href="/bower/normalize-css/normalize.css")
		link(rel="stylesheet" type='text/css' href="/css/main.css")
		title
			block title
	body
		.wrapper.clearfix
			// header
			include _common/_header
			// main-menu
			include _common/_main-menu
			// site-path
			.container
				.page-path
					.page-links
						block page-links
					block page-title
			.main-content
				.container.clearfix
					// sidebar
					include _common/_sidebar
					// content
					.content
						include _common/_filter
						block products
				.container.clearfix
					// bottom-content
					include _common/_bottom-content
		//footer
		include _common/_footer

		script('/js/main.js')