extends ../template

block title
	| Мобильные телефоны

block page-links
	ul.page-links__list
		li.page-links__item Главная > 
		li.page-links__item
			a(href="#" class="page-links__link") Каталог

block page-title
	h1.page-title Мобильные телефоны

block products
	.products
		ul.products__list
			- for (var i = 0; i < 9; i++)
				li.products__item
					.products__item-container.clearfix
						.products__left
							.products__images
								.products__images-container
									a.products__images-lg(href='#')
										img.products__images-large(src="img/products/samsung/samsung-big.jpg")
									ul.products__images-list
											li.products__images-item
												a.products__images-sm(href="#")
													img.products__images-small(src="img/products/samsung/samsung-min1.jpg")
											li.products__images-item
												a.products__images-sm(href="#")
													img.products__images-small(src="img/products/samsung/samsung-min2.jpg")
											li.products__images-item
												a.img.products__images-sm(href="#")
													img.products__images-small(src="img/products/samsung/samsung-min3.jpg")
								.products__article
									.products__article-name Артикул
									.products__article-val 189238

							.products__info
								.products__info-title Samsung GT-I9301I GALAXY S 3
								ul.products__info-list
									- var info = {"Тип SIM-карты": "Micro-SIM", "Количество SIM-карт": "1", "Цвет": "Белый", "OC": "Android", "Связь 3G": "Есть", "4G (LTE)": "Нет", "GPS-модуль": "Есть"}
									- var index = 0;
									- for (item in info)
										li(class="products__info-item" + (!(index++ % 2) ? ' products__info-item_grey' : '')).clearfix
											.products__info-key= item
											.products__info-val= info[item]
								.products__rating
									ul.products__rating-list
										li.products__rating-item.li.products__rating-item-full
										li.products__rating-item.li.products__rating-item-full
										li.products__rating-item.li.products__rating-item-full
										li.products__rating-item.li.products__rating-item-full
										li.products__rating-item
									.products__rating-val 4

						.products__right
							.products__right-container.clearfix
								.products__price 11 900
								.products__buy.clearfix
									a.products__buy-button(href"#") В корзину
									.products__buy-available В наличие
