extends ../template

block title
	| Мобильные телефоны

block page-links
	ul.page-links__list
		li.page-links__item Главная > 
		li.page-links__item
			a(href="#" class="page-links__link") Каталог

block page-title
	h1.page-title Мобильные телефоны