extends ../template

block title
	| Мобильные телефоны

block page-links
	ul.page-links__list
		li.page-links__item Главная > 
		li.page-links__item
			a(href="#" class="page-links__link") Каталог

block page-title
	h1.page-title Мобильные телефоны

block products
	.products
		ul.products__list
			// Продукт 1
			li.products__item
				.product-images
					img.product-image__img-big(src="img/products/samsung/samsung-big.jpg")
					ul.product-image__list
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min1.jpg")
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min2.jpg")
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min3.jpg")
					.product-images__articul
						span.product-images__articul-name Артикул
						span.product-images__articul-val 189238

				.product-info
					h2.product-info__title Samsung GT-I9301I GALAXY S 3
					p.product-info__text Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц
					.product-info__likes
						.product-info__likes-stars
						.product-info__likes-score 4
				
				.product-buy
					.product-buy__price 11 290
					button.product-buy__button В корзину
					.product-buy__nalichie В наличии
			// Продукт 2
			li.products__item
				.product-images
					img.product-image__img-big(src="img/products/samsung/samsung-big.jpg")
					ul.product-image__list
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min1.jpg")
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min2.jpg")
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min3.jpg")
					.product-images__articul
						span.product-images__articul-name Артикул
						span.product-images__articul-val 189238

				.product-info
					h2.product-info__title Samsung GT-I9301I GALAXY S 3
					p.product-info__text Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц
					.product-info__likes
						.product-info__likes-stars
						.product-info__likes-score 4
				
				.product-buy
					.product-buy__price 10 990
					button.product-buy__button В корзину
					.product-buy__nalichie В наличии
			// Продукт 3
			li.products__item
				.product-images
					img.product-image__img-big(src="img/products/samsung/samsung-big.jpg")
					ul.product-image__list
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min1.jpg")
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min2.jpg")
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min3.jpg")
					.product-images__articul
						span.product-images__articul-name Артикул
						span.product-images__articul-val 189238

				.product-info
					h2.product-info__title Samsung GT-I9301I GALAXY S 3
					p.product-info__text Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц
					.product-info__likes
						.product-info__likes-stars
						.product-info__likes-score 4
				
				.product-buy
					.product-buy__price 9 900
					button.product-buy__button В корзину
					.product-buy__nalichie В наличии
			// Продукт 4
			li.products__item
				.product-images
					img.product-image__img-big(src="img/products/samsung/samsung-big.jpg")
					ul.product-image__list
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min1.jpg")
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min2.jpg")
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min3.jpg")
					.product-images__articul
						span.product-images__articul-name Артикул
						span.product-images__articul-val 189238

				.product-info
					h2.product-info__title Samsung GT-I9301I GALAXY S 3
					p.product-info__text Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц
					.product-info__likes
						.product-info__likes-stars
						.product-info__likes-score 4
				
				.product-buy
					.product-buy__price 8 990
					button.product-buy__button В корзину
					.product-buy__nalichie В наличии
			// Продукт 5
			li.products__item
				.product-images
					img.product-image__img-big(src="img/products/samsung/samsung-big.jpg")
					ul.product-image__list
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min1.jpg")
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min2.jpg")
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min3.jpg")
					.product-images__articul
						span.product-images__articul-name Артикул
						span.product-images__articul-val 189238

				.product-info
					h2.product-info__title Samsung GT-I9301I GALAXY S 3
					p.product-info__text Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц
					.product-info__likes
						.product-info__likes-stars
						.product-info__likes-score 4
				
				.product-buy
					.product-buy__price 5 390
					button.product-buy__button В корзину
					.product-buy__nalichie В наличии
			// Продукт 6
			li.products__item
				.product-images
					img.product-image__img-big(src="img/products/samsung/samsung-big.jpg")
					ul.product-image__list
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min1.jpg")
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min2.jpg")
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min3.jpg")
					.product-images__articul
						span.product-images__articul-name Артикул
						span.product-images__articul-val 189238

				.product-info
					h2.product-info__title Samsung GT-I9301I GALAXY S 3
					p.product-info__text Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц
					.product-info__likes
						.product-info__likes-stars
						.product-info__likes-score 4
				
				.product-buy
					.product-buy__price 4 990
					button.product-buy__button В корзину
					.product-buy__nalichie В наличии
			// Продукт 7
			li.products__item
				.product-images
					img.product-image__img-big(src="img/products/samsung/samsung-big.jpg")
					ul.product-image__list
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min1.jpg")
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min2.jpg")
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min3.jpg")
					.product-images__articul
						span.product-images__articul-name Артикул
						span.product-images__articul-val 189238

				.product-info
					h2.product-info__title Samsung GT-I9301I GALAXY S 3
					p.product-info__text Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц
					.product-info__likes
						.product-info__likes-stars
						.product-info__likes-score 4
				
				.product-buy
					.product-buy__price 3 990
					button.product-buy__button В корзину
					.product-buy__nalichie В наличии
			// Продукт 8
			li.products__item
				.product-images
					img.product-image__img-big(src="img/products/samsung/samsung-big.jpg")
					ul.product-image__list
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min1.jpg")
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min2.jpg")
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min3.jpg")
					.product-images__articul
						span.product-images__articul-name Артикул
						span.product-images__articul-val 189238

				.product-info
					h2.product-info__title Samsung GT-I9301I GALAXY S 3
					p.product-info__text Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц
					.product-info__likes
						.product-info__likes-stars
						.product-info__likes-score 4
				
				.product-buy
					.product-buy__price 3 290
					button.product-buy__button В корзину
					.product-buy__nalichie В наличии
			// Продукт 9
			li.products__item
				.product-images
					img.product-image__img-big(src="img/products/samsung/samsung-big.jpg")
					ul.product-image__list
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min1.jpg")
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min2.jpg")
						li.product-image__item
							a.product-image__link(href="#")
								img(src="img/products/samsung/samsung-min3.jpg")
					.product-images__articul
						span.product-images__articul-name Артикул
						span.product-images__articul-val 189238

				.product-info
					h2.product-info__title Samsung GT-I9301I GALAXY S 3
					p.product-info__text Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц
					.product-info__likes
						.product-info__likes-stars
						.product-info__likes-score 4
				
				.product-buy
					.product-buy__price 1 790
					button.product-buy__button В корзину
					.product-buy__nalichie В наличии
