extends ../template

block title
	| Мобильные телефоны

block page-links
	ul.page-links__list
		li.page-links__item Главная > 
		li.page-links__item
			a(href="#" class="page-links__link") Каталог

block page-title
	h1.page-title Мобильные телефоны

block products
	.products
		ul.products__list
			li.products__item
				.product-images
				.product-info
					h2.product-info__title Samsung GT-I9301I GALAXY S 3
					p.product-info__text Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц...
				.product-price
